/* ripyl custom css */

/* header at top of page */
div.related { background-color: rgb(4,130,161); }
div.related a { color: white; }

div.sphinxsidebar { background-color: #FFD496; }
div.sphinxsidebar h3, div.sphinxsidebar h4 {
	background-color: #FFC063;
	text-shadow: 1px 1px 0 #FFEDD2;
	border-radius: 10px 10px 0 0;
	
	background: linear-gradient(to bottom, #FFC063 50%,	#FFD496);
}

/* color of dead space below sidebar and page content */
div.document { background-color: #FFEDD2; }



div.body img {
	border-style: solid;
	border-width: 1px;
	border-color: #DDD;
	box-shadow: 0 8px 6px -6px #000;
	-moz-box-shadow: 0 8px 6px -6px #000;
	-webkit-box-shadow: 0 8px 6px -6px #000;
	
}

div.body h1, div.body h2 {
	/*background-color: rgb(19,175,216);
	background: linear-gradient(to bottom, rgb(19,175,216) 50%,
	rgb(185,225,239));*/
    background-color : transparent;
    border-style: none none none solid;
    border-width: 8px;
    border-color: rgb(4,130,161);
    text-shadow: none
}

div.body h1.title {
    background-color : red;
    border-style: none none none solid;
    border-width: 8px;
    border-color: rgb(4,130,161);
    text-shadow: none
}

div.body h3, div.body h4, div.body h5, div.body h6 {
	background-color: transparent;
	color: rgb(4,130,161);
	font-weight: bold;
}


div.highlight {
	/*box-shadow: 0 8px 10px -10px #000;
	-moz-box-shadow: 0 8px 10px -10px #000;
	-webkit-box-shadow: 0 8px 10px -10px #000;*/
	
}

div.highlight-sh pre{
	background-color: #EEEEEE;
	border-radius: 10px;
	-moz-border-radius: 10px;
	
	border-width: 0px;
    width: 60em;
	
	box-shadow:inset 0 0 5px #CED8D8, 0 8px 10px -10px black;
}

div.highlight-python pre{
	background-color: #EEF8F8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	
	border-width: 0px;
    width: 60em;
	
	box-shadow:inset 0 0 5px #CED8D8, 0 8px 10px -10px black;
}


@media only screen and (max-width: 1100px) {
    div.highlight-python pre {
        width: 100%;
    }

    div.highlight-sh pre {
        width: 100%;
    }
}

